// GLOBAL RULES

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-width: 320px;
}

button:focus {
  outline: none;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

// NAVIGATION

@media only screen and (max-width: 991px) {
  .navbar {
    height: 60px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: 100% !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.navbar {
  position: fixed;
  text-align: center;
  margin-left: 5%;
  padding: 0;
  max-width: 90%;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: 0.5s all;
  z-index: 100;

  .navbar-brand {
    img {
      height: 40px;
    }
  }

  @media only screen and (min-width: 991px) {
    .nav-item {
      color: white !important;
      text-transform: uppercase;
      font-family: "Varela Round", sans-serif;
      flex: 1 0 auto;
      text-align: center;
      padding-top: 10px;
    }

    .nav-item:hover {
      filter: brightness(80%);
    }

    .navbar-nav {
      width: 100%;
      display: flex;
      flex-direction: row;
      max-width: 900px;
    }

    .nav-link-bordered {
      border: 1px solid white;
      border-radius: 5px;
      padding-right: 0 !important;
      padding-left: 0 !important;
    }

    .nav-link-bordered:hover {
      filter: brightness(80%);
    }
  }

  .navbar-toggler {
    outline: none;
  }

  button {
    padding: 5px 7px;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
  }

  .fa-bars {
    color: white !important;
    font-size: 22px;
  }
}

#navbar-overlay {
  position: fixed;
  background-color: rgba(240, 104, 82);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .navbar-overlay-links {
    padding-left: 0;
    margin-top: 60px;
    text-align: center;
    list-style-type: none;
    color: white !important;
    text-transform: uppercase;
    font-family: "Varela Round", sans-serif;

    .nav-link {
      display: inline-block;
      padding: 10px;
      font-size: 1.2em;
    }
  }

  button {
    padding: 3px;
  }

  .navbar-toggler-close {
    font-size: 36px;
    color: white;
    line-height: 16px;
  }
}

.navbar-overlay-shown {
  z-index: 1;
  animation: 0.5s fadeIn ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#navbar-overlay .navbar-overlay-links .nav-link-bordered {
  border: 1px solid white;
  border-radius: 3px;
  padding: 10px 20px;
}

#navbar-overlay .navbar-overlay-links .nav-link-bordered:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

#navbar-overlay .navbar-overlay-links a {
  color: white !important;
  font-family: "Varela Round", sans-serif;
}

.hidden {
  opacity: 0;
  animation: 0.5s fadeOut ease-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 1;
  }

  99% {
    z-index: 1;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

.navbar-fixed {
  height: 60px !important;
  background: linear-gradient(
    rgba(43, 44, 50, 0.8),
    rgba(43, 44, 50, 0.8)
  ) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  max-width: 100%;
  margin-left: 0px;
  padding-left: 5%;
  padding-right: 5%;
}

.navbar-trans {
  background: transparent;
}

//Hero image and hero content

#hero-image {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("https://assets-cdn.getbento.com/static/bento_frontend/images/img-bg3-2x.c2e16a053a54.jpg");
  background-position: center;
  background-size: cover;
  height: 777px;
  background-repeat: no-repeat;
  position: relative;

  .hero-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    text-align: center;
    min-width: 100%;
  }

  h1 {
    color: white;
    font-size: 48px;
    font-family: "Varela Round", sans-serif;
  }

  button {
    background-color: #f16852;
    text-transform: uppercase;
    color: white;
    font-family: "Varela Round", sans-serif;
    font-weight: bold;
    padding: 15px 17px;
    border: none;
    border-radius: 3px;
    margin-top: 16px;
  }

  button:hover {
    background-color: #ed3f23;
  }

  .fa {
    color: white;
    font-size: 26px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    cursor: pointer;
  }

  .companies {
    text-align: center;
    margin-top: 20px;

    .company-text {
      text-transform: uppercase;
      color: white;
      font-weight: bold;
      font-family: "Varela Round", sans-serif;
    }

    .logo-list {
      display: inline-block;
      position: relative;
      width: 200px;
      height: 75px;
      margin-top: 30px;

      li {
        list-style-type: none;
        position: absolute;
        text-align: center !important;
        width: 200px;
        height: 75px;
        top: 0;
        left: 0;
      }
    }

    .logo-list:not(:first-child) {
      display: static;
    }

    .logo-list:last-child {
      overflow: hidden;
    }
  }

  .companies ul li img {
    height: 75px;
    text-align: center;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1022px) {
  #hero-image {
    h1 {
      font-size: 40px;
    }

    .hero-content {
      justify-content: center;
    }

    .companies ul li img {
      height: 60px;
    }
  }
}

@media only screen and (max-width: 768px) {
  #hero-image {
    .fa {
      display: none;
    }

    .companies ul li img {
      height: 50px;
    }

    .companies ul li {
      width: 150px !important;
    }

    .companies ul {
      width: 150px !important;
    }
  }
}

//Mission section

.mission {
  text-align: center;

  .mission-text {
    margin-top: 75px;
    margin-bottom: 75px;
    font-family: sans-serif;

    h4 {
      line-height: 36px;
    }
  }

  .row {
    max-width: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .mission-video {
    margin-bottom: 75px;
    padding-right: 0;
    padding-left: 0;
    max-width: 100% !important;
  }
}

@media only screen and (max-width: 1024px) {
  .mission-video {
    width: 100% !important;
  }
}

//Testimonials Section

.testimonials {
  max-width: 100%;
  overflow: hidden;

  .slideshow-sm,
  .slideshow-lg {
    position: relative;
  }

  .slideshow-lg {
    height: 600px;
  }

  .slideshow-sm {
    height: 700px;
  }
  @media only screen and (max-width: 350px) {
    .slideshow-sm {
      height: 750px;
    }
  }

  .slide-buttons-lg {
    position: absolute;
    bottom: 30px;
    left: 50%;
    color: white;
    transform: translate(-50%, 0);

    i {
      margin-right: 8px;
    }

    .fa-circle {
      cursor: pointer;
    }
  }

  .slide-buttons-sm {
    font-size: 12px;

    i {
      margin-left: 8px;
    }

    .fa-circle {
      cursor: pointer;
    }
  }

  .slide-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url("https://assets-cdn.getbento.com/static/bento_frontend/images/img1.2fcd5912e168.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation-duration: 0.7s;

    .slide-content {
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
      width: 60%;
      text-align: center;

      img {
        margin-right: 1rem;
        margin-left: 1rem;
        margin-bottom: 2rem;
      }

      .slide-text {
        line-height: 3rem;
        margin-bottom: 2rem;
        font-weight: 500;
      }

      button {
        background-color: rgba(43, 44, 50);
        color: white;
        border: none;
        padding: 12px 20px;
        border-radius: 7px;
        text-transform: uppercase;
        font-family: "Varela Round", sans-serif;
      }
    }

    .team-member-title {
      color: white;
      position: absolute;
      left: 40px;
      bottom: 40px;
    }

    @media only screen and (max-width: 1024px) {
      .slide-content {
        width: 40%;
        right: 15%;

        .slide-text {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
  }

  .slide-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url("https://assets-cdn.getbento.com/static/bento_frontend/images/crenn-testimonial-hero.19d598bd1f39.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation-duration: 0.7s;

    .slide-content {
      position: absolute;
      top: 50%;
      right: 2rem;
      transform: translateY(-50%);
      width: 60%;
      text-align: center;

      img {
        margin-right: 1rem;
        margin-left: 1rem;
        margin-bottom: 2rem;
      }

      .slide-text {
        line-height: 3rem;
        margin-bottom: 2rem;
        font-weight: 500;
      }

      button {
        background-color: rgba(43, 44, 50);
        color: white;
        border: none;
        padding: 12px 20px;
        border-radius: 7px;
        text-transform: uppercase;
        font-family: "Varela Round", sans-serif;
      }
    }

    .team-member-title {
      color: white;
      position: absolute;
      left: 40px;
      bottom: 40px;
    }

    @media only screen and (max-width: 1024px) {
      .slide-content {
        width: 40%;
        min-width: 402px;
        max-height: 100%;

        .slide-text {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .slide-1,
    .slide-2 {
      display: none;
    }
  }

  .slide-3 {
    text-align: center;
    margin: auto;
    position: absolute;
    left: 0;
    top: 5%;
    display: none;

    .bg-image {
      background: url("https://assets-cdn.getbento.com/static/bento_frontend/images/img1.2fcd5912e168.jpg");
      background-size: 250%;
      background-repeat: no-repeat;
      background-position: 5% 45%;
      height: 300px;
      font-family: "Varela Round", sans-serif;
      position: relative;
    }

    .bg-image:after {
      content: "Photo by Matt Edge";
      color: white;
      font-size: 8px;
      position: absolute;
      bottom: 5px;
      right: 10px;
    }

    p {
      text-align: center;
      font-size: 16px;
      font-family: "Varela Round", sans-serif;
      width: 80%;
      margin: 3rem auto 0 auto;
    }

    .team-member-name {
      font-weight: bold;
      text-align: center;
      margin-top: 10px;
      font-family: "Varela Round", sans-serif;
    }

    .team-member-location {
      font-family: "Varela Round", sans-serif;
      text-align: center;
    }

    button {
      background-color: rgba(43, 44, 50);
      color: white;
      border: none;
      margin: 25px 0;
      padding: 12px 20px;
      border-radius: 5px;
      text-transform: uppercase;
      font-family: "Varela Round", sans-serif;
    }
  }

  .slide-4 {
    text-align: center;
    margin: auto;
    position: absolute;
    left: 0;
    top: 5%;

    .bg-image {
      background: url("https://assets-cdn.getbento.com/static/bento_frontend/images/crenn-testimonial-hero.19d598bd1f39.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 5% 45%;
      height: 300px;
      font-family: "Varela Round", sans-serif;
      position: relative;
    }

    .bg-image:after {
      content: "Photo by Matt Edge";
      color: white;
      font-size: 8px;
      position: absolute;
      bottom: 5px;
      right: 10px;
    }

    p {
      text-align: center;
      font-size: 16px;
      font-family: "Varela Round", sans-serif;
      width: 80%;
      margin: 3rem auto 0 auto;
    }

    .team-member-name {
      font-weight: bold;
      text-align: center;
      margin-top: 10px;
      font-family: "Varela Round", sans-serif;
    }

    .team-member-location {
      font-family: "Varela Round", sans-serif;
      text-align: center;
    }

    button {
      background-color: rgba(43, 44, 50);
      color: white;
      border: none;
      margin: 25px 0;
      padding: 12px 20px;
      border-radius: 5px;
      text-transform: uppercase;
      font-family: "Varela Round", sans-serif;
    }
  }

  @media only screen and (min-width: 769px) {
    .slideshow-sm {
      display: none;
    }
  }

  @media only screen and (max-width: 768px) {
    .slideshow-lg {
      display: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  .testimonials {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

//Call to action section

.cta {
  text-align: center;
  margin: 50px 0;

  .row {
  }

  .cta-content {
    padding: 0 40px;

    h2 {
      font-family: "Varela Round", sans-serif;
    }

    p {
      font-weight: 400;
    }

    button {
      background-color: rgba(43, 44, 50);
      color: white;
      border: none;
      margin: 25px 0 0;
      padding: 12px 20px;
      border-radius: 5px;
      text-transform: uppercase;
      font-family: "Varela Round", sans-serif;
    }
  }

  .cta-image {
    img {
      max-width: 100%;
      height: 100%;
      width: 100%;
    }
  }

  @media only screen and (min-width: 1024px) {
    .cta-content {
      h2 {
        font-size: 50px;
      }
    }
  }

  @media only screen and (max-width: 990px) {
    .cta-image {
      display: none;
    }
  }
}

//Features Section

.features {
  text-align: center;
  font-family: "Varela Round", sans-serif;

  ul {
    margin-bottom: 0;
  }

  ul li {
    list-style-type: none;
  }

  img {
    max-width: 100%;
  }

  .column-1,
  .column-2 {
    // padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;

    & > * {
      flex: 0 1 auto;
    }

    .column-1-content,
    .column-2-content {
      max-width: 80%;
      margin: 0 auto;
    }

    button {
      color: white;
      border: none;
      font-weight: bold;
      margin-top: 25px;
      margin-bottom: 50px;
      padding: 12px 20px;
      border-radius: 5px;
      text-transform: uppercase;
      font-family: "Varela Round", sans-serif;
    }

    .list-row {
      margin-bottom: 40px;
    }
  }

  .column-1 {
    background: #35363e;
    color: white;
    padding-right: 0;

    img {
      flex: 0 1 auto;
      align-self: center;
      padding: 0 15px;
    }

    button {
      background-color: #f06852;
    }
  }

  .column-2 {
    background: #f06852;
    color: white;
    padding-left: 0;

    img {
      justify-self: end;
      align-self: flex-end;
      padding-left: 20px;
    }

    button {
      background-color: #35363e;
    }
  }

  @media only screen and (max-width: 768px) {
    h1 {
      font-size: 50px;
    }

    .column-1,
    .column-2 {
      padding-top: 100px;
    }
  }

  @media only screen and (min-width: 1024px) {
    h1 {
      font-size: 50px;
    }

    .column-1,
    .column-2 {
      padding-top: 100px;
    }
  }
}

@media only screen and (min-width: 1220px) {
  .features {
    text-align: left;

    li {
      list-style-type: disc !important;
    }
  }
}

//Demo Section

.demo {
  background: url("../images/demo-background.jpg");
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;

  h1 {
    font-family: "Varela Round", sans-serif;
    font-size: 33px;
  }

  .process-flow {
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
  }

  .demo-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 320px;

    h3 {
      font-size: 16px;
      line-height: 1.3 !important;
      margin-bottom: 5px !important;
    }
  }

  .process-flow:before {
    font-family: "FontAwesome";
    content: "\f054";
    font-size: 20px;
    color: #f06852;
    position: absolute;
    top: 40px;
    left: 33%;
  }

  .process-flow:after {
    font-family: "FontAwesome";
    content: "\f054";
    font-size: 20px;
    color: #f06852;
    position: absolute;
    top: 40px;
    right: 33%;
  }

  button {
    color: white;
    background: #f06852;
    font-weight: bold;
    border: none;
    margin: 25px 0;
    padding: 12px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: "Varela Round", sans-serif;
  }
}

@media only screen and (max-width: 768px) {
    .demo {
  
      h1 {
          font-size: 28px;
          margin: 50px 0;
      }
      .process-flow:after, .process-flow:before {
        display: none;
      }
  
      .fa-chevron-down {
        color: #f06852;
        margin-bottom: 16px;
      }
    }
  }

@media only screen and (min-width: 768px) {
  .demo {
    h1 {
      margin: 30px 0;
      font-size: 33px;
    }

    .fa-chevron-down {
      display: none;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .demo {
    h1 {
      margin: 50px 0;
      font-size: 50px;
    }

    button {
        margin: 70px 0;
    }
  }
}

@media only screen and (min-width: 1220px) {
    .demo {
      button {
          margin: 70px 0 200px 0;
      }
  }
}

// DEVELOPER SECTION

.developer {
  font-family: "Varela Round", sans-serif;

  .row-1 {
    background-color: #2A2B31;
    color: white;
    padding: 40px 0;

    button {
      color: white;
      background: #35363E;
      font-weight: bold;
      border: none;
      margin: 25px 0;
      padding: 12px 40px;
      border-radius: 5px;
      text-transform: uppercase;
      font-family: "Varela Round", sans-serif;
    }

    .image-container {
      margin-top: -220px;
      position: absolute;
    }

    .image-1 {
      position: absolute;
    }

    .image-gif {
      position: absolute;
    }

    .image-2 {
      position: absolute;
    }
  }

  .row-2 {
    background-color: #35363E;
    color: white;

    button {
      color: white;
      background: #f06852;
      font-weight: bold;
      border: none;
      margin: 25px 0;
      padding: 12px 40px;
      border-radius: 5px;
      text-transform: uppercase;
      font-family: "Varela Round", sans-serif;
    }

    span {
      color: #f06852;
    }
  }
}

@media only screen and (max-width: 1219px) {
  .developer {
    .row-1 {
      .image-1, .image-2, .image-gif {
        transform: scale(.8);
      }
      .image-container {
        margin-top: -150px;
      }
    }
    
  }
}

@media only screen and (max-width: 1024px) {
  .developer {
    .row-1 {
      h1 {
        font-size: 33px;
      }

      button {
        margin: 0px 0;
      }

      .image-container {
        
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .developer {
    .row-1 {
      .image-container {
        transform: translateX(-50px) scale(.9);
      }
    }
  }
}

@media only screen and (max-width: 8px) {
  .developer {
    .row-1 {
      text-align: center;

      h1 {
        font-size: 28px;
      }
      button {
        display: none;
      }
    }
  }
}

// FOOTER SECTION

.footer {
  text-align: center;
  font-family: "Varela Round", sans-serif;

  .footer-item {
    list-style-type: none;
    display: inline-block;
    width: 250px;
  }

  .footer-item .footer-logo {
    height: 25px;
    margin-top: 5px;
    margin-left: -75px;
  }

  .footer-item li {
    font-size: 14px;
    margin-top: 5px;
  }
  
  .footer-item li:not(:first-child):hover {
    color: #727378;
    cursor: pointer;
  }

  .footer-item li:first-child {
    font-weight: bold;
  }

  .footer-item .tos {
    font-weight: inherit !important;
  }
  
  .footer-item .tos:hover {
    color: #727378;
    cursor: pointer;
  }

  .footer-inner-row {
    margin: 40px 0;
  }
}

@media only screen and (max-width: 768px) {
  .footer-item {
    max-width: 170px;
  }

  .footer-item li {
    text-align: left;
  }
}

@media only screen and (max-width: 558px) {
  .footer-item {
    margin: 10px auto 0 auto;

  }
}

@media only screen and (max-width: 422px) {
  .footer-item li {
    text-align: center !important;
  }
  
  .footer-item {
    max-width: 120px;
  }
}


.space {
  height: 100px;
}